@model LotteryAPI.DbInfra.Model.ContestDetail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContestDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestDetailBannerImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestDetailBannerImgUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestDetailTileImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestDetailTileImgUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestDetailTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestDetailTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestDetailDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestDetailDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestTicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestTicketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestTotalTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestTotalTicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestTotalBoughtTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestTotalBoughtTicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestDrawDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestDrawDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestDrawTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestDrawTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestNumberOfWinners)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestNumberOfWinners)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsResultPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsResultPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrawContestNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrawContestNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContestDetailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
